/* style reset */
* {
    padding: 0;
    margin: 0;
    border: 0; 
    }
*, *:before, *:after {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    }
:focus.active {
    outline:none;
    }
a:focus,a:active {
    outline:none;
    }
nav,footer,header,aside {
    display:block;}
html,body {
    height:100%;
    width:100%; 
    font-size:100%;
    line-height:1;
    font-size:14px;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    }
input,button,textarea {
    font-family:inherit;
    }
button {
    cursor:pointer;
    }
a {
    text-decoration: none;
    }
ul li {
    list-style: none;
    }
/* start */
a:hover {
      color: #888;
    }
@font-face {
      font-family: Open Sans;
      src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
      font-weight: 400;
      font-style: normal;
    }
@font-face {
      font-family: Open Sans;
      src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
      font-weight: 700;
      font-style: normal;
    }
/* nav */
.container-header {
      font-family: Open Sans;
      justify-content: space-between;
      align-items: center;
      display: flex;
    }
.logo {
      width: 180px;
    }
.nav-list {
      display: flex;
      position: relative;
    }
.nav-list-item {
      list-style: none;
      text-transform: uppercase;
      font-family: Open Sans;
    }
.nav-list-item:nth-child(n + 2) {
      padding-left: 35px;
    }
.header-link {
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        text-decoration: none;
    }
.header {
      position: relative;
      background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #000;
      padding: 30px 0;
    }
.header:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      opacity: 0.7;
    }
.container {
      width: 1200px;
      margin-right: auto;
      margin-left: auto;
      z-index: 99;
      position: relative;
    }
.title {
      max-width: 866px;
      color: #ffffff;
      font-size: 45px;
      line-height: 1.8;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      padding: 120px 0;
      margin: auto;
    }
/* trending */
.section-title {
    padding-bottom: 25px;
    text-align: center;
    justify-items: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 60px auto 40px;
  }
.section-title::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
  }
.trending_body {
    display: flex;
    flex-wrap: wrap;
}
.mar-left {
    margin-left: 4px;
}
.trends {
    display: flex;
    padding: 20px;
    margin-top: 60%;
}
.trending_item {
    position: relative;
    background: url('../img/trend1.jpg') no-repeat;
    background-size: cover;
    width: calc(25% - 3px);

}
.trending_item-2 {
    position: relative;
    background: url('../img/trend2.jpg') no-repeat;
    background-size: cover;
    width: calc(25% - 3px);
}
.trending_item-3 {
    position: relative;
    background: url('../img/trend3.jpg') no-repeat;
    background-size: cover;
    width: calc(25% - 3px);
}
.trending_item-4 {
    position: relative;
    background: url('../img/trend4.jpg') no-repeat;
    background-size: cover;
    width: calc(25% - 3px);
}
.trends::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}
.trending_textbox {
    border: 2px solid #b59f5b;
    width: 100%;
    z-index: 5;
    padding: 60px 38px;
}
.trending_link {
    color: #fff;
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
    text-transform: uppercase;
}
.trending_title {
    padding-top: 15px;
}

/* trends version 2 */
.trends-body {
    display: flex;
    flex-wrap: wrap;
}
.trends-item {
    max-height: 320px;
    position: relative;
    width: calc(25% - 3px);
    display: flex;
    /* align-items: baseline; */
    /* justify-content: flex-end; */
}
.trends-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}
.trends-first {
    background: url('../img/trend1.jpg') no-repeat;
    background-size: cover;
}
.trending_text {
    border: 2px solid #b59f5b;
    z-index: 5;
    /* margin-top: 10%; */
    padding: 60px 38px;
}
/* main */
.content {
      display: flex;
      width: 1200px;
      margin-top: 60px;
      margin-right: auto;
      margin-left: auto;
      font-family: Open Sans;
    }
.card {
      display: flex;
      align-items: flex-start;
      vertical-align: top;
    }
.card:nth-child(n + 2) {
      margin-top: 60px;
    }
.card-text {
      padding-left: 30px;
    }
.card-list {
      display: flex;
    }
.card-tag {
      color: #b59f5b;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
    }
.card-tag:hover {
      color: brown;
    }
.card-list li {
      list-style: none;
      margin-left: 15px;
      text-transform: uppercase;
    }
.card-list li:first-child {
      margin-left: 0;
    }
.card-link, .post-link {
      text-decoration: none;
      color: #000;
    }
.card-title {
      padding-top: 13px;
      margin-bottom: 35px;
      text-transform: uppercase;
      line-height: 1.5;
      text-decoration: none;
      font-size: 20px;
      width: 350px;
    }
.time-section {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
    }
.author-link {
      margin-left: 25px;
      font-weight: bold;
      text-decoration: none;
      color: black;
    }
.card-date {
      color: #888888;
    }
.card-description {
      padding-top: 40px;
      font-size: 15px;
    }
.card-description > p:nth-child(n + 2) {
      padding-top: 10px;
    }
.news-picture {
      width: 380px;
      flex: none;
    }
.news-img {
      width: 100%;
    }
    /* side */
.side-section {
      margin-left: 120px;
    }
.side-news {
      margin-bottom: 55px;
    }
.side-title {
      padding-bottom: 25px;
      text-align: center;
      justify-items: center;
      text-transform: uppercase;
      font-size: 14px;
    }
.side-title::after {
      content: "";
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 14px;
      width: 66px;
      height: 3px;
      background: #b59f5b;
    }
.new-posts {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }
.post-item {
      display: flex;
      padding-bottom: 20px;
    }
.post-title {
      font-size: 14px;
      text-transform: uppercase;
      width: 200px;
      line-height: 1.5;
    }
.post-text {
      padding-left: 15px;
    }
.post-title {
      padding-top: 10px;
    }
label {
      width: 100%;
    }
.search-form {
      width: 100%;
      display: flex;
    }
input {
      background-color: #f4f7f6;
      padding: 6px 12px;
      width: 100%;
      height: 40px;
      text-transform: capitalize;
      font-size: 13px;
    }
.search-btn {
      flex: none;
      border: none;
      width: 50px;
      background-image: url(../svg/search.svg);
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
      background-color: #b59f5b;
    }
.search-btn:hover {
      background-color: brown;
    }
.search-icon {
      width: 20px;
    }
.reader {
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute;
    }
.subscription {
      margin-top: 60px;
      margin-bottom: 60px;
    }
.subscribe-form {
      width: 100%;
      display: block;
    }
.subscribe-btn {
      width: 100%;
      background-color: #b59f5b;
      cursor: pointer;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 17px;
      font-weight: 15px;
    }
.subscribe-btn:hover {
      background-color: brown;
    } 
.tags-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; 
      list-style-type: none;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
.tags-item {
      margin-bottom: 5px;
      margin-left: 5px;
      border: 3px solid #eeeeee;
    }
.tags-link {
      display: block;
      padding: 10px 15px;
    }
.tags-link, .topics-link, .copyright-section {
      text-decoration: none;
      color: #000;
    }
.topics {
      margin-top: 60px;
    }
.topics-list {
      list-style-type: none;
      font-weight: bold;
      text-transform: capitalize;
    }
.topics-item {
      border-bottom: 1px solid #eeeeee;
      padding-bottom: 15px;
      display: flex;
    }
.topics-item:nth-child(n + 2) {
      padding-top: 15px;
    }
.topics-link {
      line-height: 2;
      font-size: 14px;
    }
.number {
      vertical-align: top;
      color: #b59f5b;
      font-size: 12px;
      padding-left: 15px;
    }
/* products */
.products_body {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-desc {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 3px solid #b59f5b;
    padding: 40px 10px;
    max-width: 350px;
}
.product-img {
    max-width: 420px;
    width: 100%;
}
.product-title {
    text-transform: uppercase;
    font-size: 20px;
}
.product-desc p {
    line-height: 1.5;
    font-size: 15px;
    padding-top: 10px;
}
.product-link {
    color: #b59f5b;
}
.buy-now {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.new-price {
    font-size: 20px;
    font-weight: bold;
}
.old-price {
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 300;
}
.shop-btn {
    background-color: #b59f5b;
    padding: 20px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}
.shop-btn:hover {
    background-color: orange;
}

/* footer */
.footer-container {
      margin-top: 60px;
      font-family: Open Sans;
      padding-bottom: 70px;
      text-align: center;
    }
.footer-social {
      background-color: #f4f7f6;
      margin-bottom: 70px;
      width: 1170px;
      margin-left: auto;
      margin-right: auto;
    }
.social-icons {
      padding-top: 30px;
      padding-bottom: 30px;
    }
.social-list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style-type: none;
    }
.social-item {
      margin-left: 30px;
    }
.social-link {
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
    }
.copyright-section {
      font-size: 12px;
    }
.social_twitter {
      background-image: url(../svg/004-twitter.svg)
    }
.social_pinterest {
      background-image: url(../svg/001-pinterest.svg);
    }
.social_facebook {
      background-image: url(../svg/002-facebook-logo.svg);
    }
.social_instagram {
      background-image: url(../svg/005-instagram.svg);
    }
.social_tumblr {
      background-image: url(../svg/003-tumblr.svg);
    }
/* adaptation to different devices */

